.header {
   padding-top: 21px;
   height: 814px;
   border-bottom: 1px dashed $text_color;
   background: url('../img/main.png') 0 50% no-repeat;
   background-color: $header_bg;

   @media (max-width: 980px) {
      background-color: inherit;
      background: url('../img/middle-img.png') 0 50% no-repeat;
      border-bottom: none;
   }

   @media (max-width: 578px) {
      background: url('../img/mobi-img.png') 0 25% no-repeat;
      background-size: contain;
      border-bottom: 1px dashed $text_color;
      height: 734px;
   }

   @media (max-width: 505px) {
      height: 660px;
   }

   @media (max-width: 450px) {
      height: 630px;
   }

   @media (max-width: 410px) {
      height: 610px;
   }

   @media (max-width: 385px) {
      height: 560px;
   }
}

.logo {
   float: left;
}

.logo img {
   display: inline-block;
}

.nav {
   float: right;
   position: relative;

   .items {
      display: flex;

      .item {
         margin-right: 10px;

         @media (max-width: 660px) {
            margin-right: 8px;
         }

         @media (max-width: 587px) {
            margin-right: 0;
         }
      }

      .item_link {
         padding: 24px;
         transition: all 0.3s;
         -webkit-transition: all 0.3s;
         -moz-transition: all 0.3s;
         -ms-transition: all 0.3s;
         -o-transition: all 0.3s;

         &:hover {
            background: $active_text_color;
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
         }

         @media (max-width: 660px) {
            padding: 24px 16px;
         }

         @media (max-width: 587px) {
            display: inline-block;
            padding: 10px 24px;
            width: 100%;
         }
      }

      .active {
         background: $active_text_color;

         @media (max-width: 587px) {
            background: none;
         }
      }

      @media (max-width: 587px) {
         flex-direction: column;
         position: absolute;
         right: 0;
         top: 20px;
         background: #000;
         height: 200px;
         width: 200px;
         text-align: center;
         display: none;
      }
   }

   .btn_menu {
      width: 18px;
      height: 11px;
      background-image: url("../img/burger.svg");
      background-repeat: no-repeat;
      cursor: pointer;
      float: right;
      display: none;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;

      @media(max-width: 587px) {
         display: block;
      }
   }

   .btn_menu-active {
      background: $burger_gradient-right,
         $burger_gradient-left;
   }
}

.clear {
   clear: both;
}

.wrapper {
   width: 70%;
   float: right;
   margin-top: 15%;

   @media (max-width: 1290px) {
      width: 53%;
   }

   @media (max-width: 1180px) {
      margin-top: 20%;
   }

   @media (max-width: 980px) {
      width: 67%;
   }

   @media (max-width: 810px) {
      width: 62%;
   }

   @media (max-width: 660px) {
      width: 50%;
   }

   @media (max-width: 578px) {
      width: 100%;
      margin-top: 93%;
   }

   @media (max-width: 428px) {
      margin-top: 95%;
   }

   @media (max-width: 371px) {
      margin-top: 97%;
   }

   @media (max-width: 360px) {
      margin-top: 100%;
   }
}

.title_header {
   font-weight: bold;
   font-size: 78px;
   line-height: 94px;
   margin-bottom: 30px;

   .text {
      color: rgba(255, 255, 255, 0.5);
   }

   @media (max-width: 1290px) {
      font-size: 68px;
      line-height: 74px;
   }

   @media (max-width: 1180px) {
      font-size: 48px;
      line-height: 54px;
   }

   @media (max-width: 768px) {
      font-size: 44px;
      line-height: 54px;
   }

   @media (max-width: 660px) {
      font-size: 34px;
      line-height: 44px;
   }

   @media (max-width: 578px) {
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 20px;
   }

   @media (max-width: 380px) {
      font-size: 18px;
      line-height: 26px;
   }
}

.text_title {
   max-width: 700px;

   @media (max-width: 1180px) {
      max-width: 500px;
   }

   @media (max-width: 380px) {
      font-size: 14px;
   }
}