body {
   background: $main_bg;
   font-family: 'Sen', 'sans-serif';
   color: #fff;
}

.container {
   margin: 0 auto;
   max-width: 1290px;
   padding: 0 72px;

   @media (max-width: 960px) {
      padding: 0 30px;
   }

   @media (max-width: 770px) {
      padding: 0 20px;
   }
}

.btn {
   padding: 24px 32px;
   font-weight: bold;
   font-size: 18px;
   line-height: 27px;
}