*,
*::before,
*::after {
   box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
   padding: 0;
}

body {
   min-height: 100vh;
   scroll-behavior: smooth;
   text-rendering: optimizeSpeed;
   line-height: 1.5;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   box-sizing: border-box;
}

ul[class] {
   list-style: none;
}

a {
   color: inherit;
   text-decoration: none;
}

img {
   max-width: 100%;
   display: block;
}