.block {
   padding-bottom: 80px;
   margin-bottom: 40px;
}

.block-body {
   display: flex;
   justify-content: space-between;

   @media (max-width: 778px) {
      flex-direction: column;
   }
}

.block-skills {
   margin-right: 72px;

   @media (max-width: 930px) {
      margin-right: 42px;
   }
}

.title {
   color: $title_color;
   font-weight: bold;
   font-size: 55px;
   line-height: 66px;
   margin-bottom: 24px;
}

.aside-content {
   color: $text_color;
   font-size: 18px;
   line-height: 24px;
}

.block-items {
   display: flex;
   flex-wrap: wrap;
   padding-top: 25px;
}

.item {
   display: flex;
   flex-direction: column;
   width: 45%;
   margin-right: 24px;
   margin-bottom: 30px;

   @media (max-width: 556px) {
      width: 80%;
   }

   @media (max-width: 380px) {
      width: 100%;
   }
}

.item:nth-child(2n) {
   margin-right: 0;
}
