$main_bg: #000;
$header_bg: #181823;
$text_color: #8491A0;
$active_text_color: #5221E6;
$burger_gradient-right: linear-gradient(45deg, transparent 45%, #BFBAFA 46%, #8F7FFF 55%, transparent 56%);
$burger_gradient-left: linear-gradient(-45deg, transparent 45%, #BFBAFA 46%, #8F7FFF 55%, transparent 56%);
$title_color: #fff;
$val_bg: #FFF3E4;
$text_color: #5B6876;