.section_block {
   padding-top: 120px;
   padding-bottom: 140px;
   color: $text_color;
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;

   @media (max-width: 1000px) {
      padding-top: 40px;
      padding-bottom: 40px;
   }
}

.title {
   font-size: 55px;
   line-height: 66px;
   color: $title_color;
   max-width: 690px;
   margin-bottom: 30px;
   margin-top: 20px;

   @media (max-width: 767px) {
      font-size: 35px;
      line-height: 46px;
   }

   @media (max-width: 568px) {
      font-size: 24px;
      line-height: 36px;
   }
}

.wrapper-block {
   display: flex;

   .item {
      width: 33%;
      margin-left: 20px;

      .item-title {
         font-size: 117px;
         line-height: 141px;
         font-weight: 400;
         margin: 0;
         padding: 0;
      }

      .item_subtitle {
         font-size: 24px;
         line-height: 32px;
         color: $title_color;
         margin-bottom: 20px;
         display: inline-block;

         .first_item {
            color: #3CC74E;
         }

         .second_item {
            color: #609BFF;
         }

         .tree_item {
            color: #E95D90;
         }
      }

      .item_text {
         font-weight: 400;
      }

      @media (max-width: 768px) {
         width: 100%;
         margin-left: 0;
         margin-bottom: 20px;
      }
   }

   @media (max-width: 768px) {
      flex-direction: column;
      margin-bottom: 20px;
      width: 60%;
   }

   @media (max-width: 580px){
      width: 80%;
   }

}