.block-portfolio {
   margin-bottom: 100px;
}

.portfolio-items {
   display: flex;
   flex-wrap: wrap;
}

.portfolio_item {
   width: 48%;
   margin-bottom: 30px;
}

.portfolio_item:nth-child(2n) {
   margin-left: 20px;
}

.item_self {
   align-items: flex-start;
}

.port_subtitle {
   color: $text_color;
   font-size: 16px;
   line-height: 24px;
}

.port_title {
   margin-bottom: 80px;
}

.portfolio_img {
   margin-bottom: 40px;
}

.card-title {
   font-weight: bold;
   font-size: 24px;
   line-height: 36px;
}

.card-description {
   font-size: 18px;
   line-height: 36px;
   color: $text_color;
}

.btn-view {
   border: 1px solid #5221E6;
   background: inherit;
   color: #fff;
}