.content {
   max-width: 1290px;
   margin: auto;
   display: flex;
   align-items: stretch;
   margin-bottom: 24px;

   @media (max-width: 768px) {
      flex-direction: column;
   }
}

.body {
   background: $val_bg;
   padding: 72px;

   @media (max-width: 1238px) {
      padding: 52px;
   }

   @media (max-width: 1174px) {
      padding: 42px;
   }

   @media (max-width: 965px) {
      padding: 32px;
   }

   @media (max-width: 715px) {
      padding: 48px 20px;
   }
}

.content_title {
   color: $header_bg;
   font-family: Sen;
   font-style: normal;
   font-weight: bold;
   font-size: 55px;
   line-height: 66px;
   margin-top: 50px;
   margin-bottom: 24px;

   @media (max-width: 1174px) {
      font-size: 45px;
   }

   @media (max-width: 969px) {
      margin-bottom: 8px;
   }

   @media (max-width: 715px) {
      font-size: 32px;
      line-height: 38px;
   }

   @media (max-width: 595px) {
      margin: 0 0 15px 0;
   }
}

.content_description {
   color: $text_color;
   font-size: 18px;
   line-height: 28px;
   text-align: left;
   margin-bottom: 134px;

   @media (max-width: 969px) {
      margin-bottom: 67px;
   }
}

.main-img {
   position: relative;
   padding: 25%;
   object-fit: cover;
      @media (max-width:595px) {
        height: 480px;
      }
}

.main-img img {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   object-fit: cover;

}

.moreInfo {
   color: $header_bg;
   text-decoration: underline;
   margin-bottom: 120px;
   display: inline-block;

   @media (max-width: 969px) {
      margin-bottom: 80px;
   }

   @media (max-width: 715px) {
      margin-bottom: 48px;
   }

   @media (max-width:595px) {
      margin-bottom: 0;
   }
}