<header class="header">
   <div class="container">

      <div class="logo">
         <a href="#"><img src="./img/logo.svg" alt="img logo" class="logoimg" /></a>
      </div>

      <nav class="nav">
         <div class="btn_menu"></div>
         
         <ul class="items">
            <li class="item"><a href="#" class="item_link">Experience</a></li>
            <li class="item"><a href="#" class="item_link">Work</a></li>
            <li class="item"><a href="#" class="item_link">Photography</a></li>
            <li class="item"><a href="#" class="item_link active">Contact</a></li>
         </ul>
      </nav>
      <br class="clear">

      <div class="wrapper">
         <h1 class="title_header">I’m Robin Williams. A&nbsp;Product Designer <span class="text">based&nbsp;in Italy.</span>
         </h1>
         <p class="text_title">I’m probably the most passionate designer you will ever get to work with. If you have a
            great project that needs some amazing skills, I’m your guy.
         </p>
      </div>

   </div>

</header>