<section class="block-portfolio">
   <div class="container">

      <div class="portfolio-items">

         <div class="portfolio_item">
            <span class="port_subtitle">MY PROJECTS</span>
            <h3 class="title port_title">Work that I’ve done for the past 8 years</h3>

            <div class="portfolio_img">
               <img src="./img/img-1.jpg" alt="picture: lap-top" />
            </div>
            <p class="card-title">Restaurant Website Design</p>
            <p class="card-description">I worked with the guys at CBRE to redesign their entire website and mobile app
               fro both Android and iOS. This project lasted for 4 months and was a very challenging one.
            </p>
         </div>

         <div class="portfolio_item item_self">
            <div class="portfolio_img">
               <img src="./img/img-2.jpg" alt="picture: lap-top" />
            </div>
            <p class="card-title">Restaurant Website Design</p>
            <p class="card-description">I worked with the guys at CBRE to redesign their entire website and mobile app
               fro both Android and iOS. This project lasted for 4 months and was a very challenging one.
            </p>
         </div>

         <div class="portfolio_item">
            <div class="portfolio_img">
               <img src="./img/img-3.jpg" alt="picture: lap-top" />
            </div>
            <p class="card-title">Restaurant Website Design</p>
            <p class="card-description">I worked with the guys at CBRE to redesign their entire website and mobile app
               fro both Android and iOS. This project lasted for 4 months and was a very challenging one.
            </p>
         </div>

         <div class="portfolio_item">
            <div class="portfolio_img">
               <img src="./img/img-4.jpg" alt="picture: lap-top" />
            </div>
            <p class="card-title">Restaurant Website Design</p>
            <p class="card-description">I worked with the guys at CBRE to redesign their entire website and mobile app
               fro both Android and iOS. This project lasted for 4 months and was a very challenging one.
            </p>
         </div>

      </div>

      <button class="btn btn-view">VIeW ALL PROJECTS</button>

   </div>
</section>