<section class="block">
   <div class="container">
      <div class="block-body">

         <div class="block-skills">
            <h3 class="title">Skillset</h3>
            <div class="aside-content">
               With skills in over 4 different fields of design, I am the perfect person to hire when it comes to a full
               fledged project. Whatever your needs are, I can pretty much take on any challenge.
            </div>
         </div>

         <div class="block-items">

            <div class="item">
               <div class="item-img">
                  <img src="./img/ico4.svg" alt="ico: squre">
               </div>
               <h5 class="subtitle">Product Design</h5>
               <p class="item_description">
                  Working at Facebook has taught me a lot about how to understand users, solve problems and build great
                  products.
               </p>
            </div>

            <div class="item">
               <div class="item-img">
                  <img src="./img/ico2.svg" alt="ico: pent">
               </div>
               <h5 class="subtitle">Product Design</h5>
               <p class="item_description">
                  Working at Facebook has taught me a lot about how to understand users, solve problems and build great
                  products.
               </p>
            </div>

            <div class="item">
               <div class="item-img">
                  <img src="./img/ico3.svg" alt="ico: circle">
               </div>
               <h5 class="subtitle">Motion Design</h5>
               <p class="item_description">
                  I started my design journey with motion design in my college days. Motion is something that really
                  fascinates me because of the flexibility of story telling.
               </p>
            </div>

            <div class="item">
               <div class="item-img">
                  <img src="./img/ico.svg" alt="Photography">
               </div>
               <h5 class="subtitle">Photography</h5>
               <p class="item_description">
                  Clicking pictures really brings out the creative in me. Phtography really makes you look and percieve
                  things in a different way.
               </p>
            </div>

         </div>
         </div>
      </div>
   </div>
</section>