<section class="content">
   <div class="body">
      <h3 class="content_title">Philosophy &&nbsp;values</h3>
      <p class="content_description">I think everyone wants the same thing - relationship with humanity, peace with the metaphysical, and experience with the universe. I try to grasp these things with my values: authenticity, creativity, & hospitality.
      </p>
      <span class="moreInfo">More about me</span>
   </div>
   <div class="main-img">
      <img src="./img/Rectangle 39.jpg" alt="">
   </div>
</section>
