<section class="section_block">
   <div class="container">
      <span class="description">work experience</span>
      <h3 class="title">Companies I have worked for in the past</h3>

      <div class="wrapper-block">
         <div class="item">
            <h2 class="item-title">01</h2>
            <span class="item_subtitle"><span class="first_item">Google</span>, Interaction Designer</span>
            <p class="item_text">I currently am the lead designer on the interaction design team for Google Play.
            </p>
         </div>
         <div class="item">
            <h2 class="item-title">02</h2>
            <span class="item_subtitle"><span class="second_item">Facebook</span>, Product Designer</span>
            <p class="item_text">I’ve worked on a wide variety of internal tools for facebook over the past 6 years.
            </p>
         </div>
         <div class="item">
            <h2 class="item-title">03</h2>
            <span class="item_subtitle"><span class="tree_item">Dribbble</span>, Graphic Designer</span>
            <p class="item_text">I started my design career with Dribbble. I was incharge of creating illustrations for the platform.
            </p>
         </div>
      </div>
   </div>
</section>